<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <header>
    <a href="/flights/new">Add Flight</a>
    <a href="/flights">All Flights</a>
  </header>
  <h1>Flight #<%= flight.flightNo %></h1>
  <h2>Create a new destination:</h2>
  <form action="/flights/<%= flight._id %>" method="POST">
    <label>Arrival:
      <input type="datetime-local" name="arrival">
    </label>
    <label>Airport:
      <select name="airport">
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="DEN">DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
      </select>
    </label>
    <button type="submit">Add Destination</button>
  </form>
  <form action="/flights/<%= flight._id %>/tickets/new" method="GET">
    <button type="submit">New Ticket</button>
  </form>
  <h2>Tickets:</h2>
  <h2>Current destinations:</h2>
  <% flight.destinations.forEach(destination => { %>
    <section>Airport: <%= destination.airport %> --- Arrival Time: <%= destination.arrival %></section>
  <% }) %>
</body>
</html>